.page {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto';
}

.list {
  list-style: none;
}

/* header */

.logo {
  color: #000000;
  font-family: 'Raleway';
}

.logo:hover {
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav a[href="./index.html"] {
  color: #2196f3;
}

.site-nav .link.current {
    color: blueviolet;
}

.connection-nav a[href="mailto:info@devstudio.com"] {
  color: #2196f3;
}

.connection-nav a[href="tel:+380961111111"] {
  color: #757575;
}

/* main */
.hero-title {
  color: #212121;
}

.button {
  background-color: #2196f3;
  color: #ffffff;
}
.button:hover {
  color: #000000;
}

.section-title {
  color: #212121;
}

.section-minititle {
  color: #212121;
}

.name {
  color: #212121; 
}

/* бекграунд #FFFFFF */
/* колір 1 секції з заголовком #2F303A */
/* колір секції наша команда #F5F4FA */
/* основний колір тексту #757575 */
/* колір підзаголовків #212121 */
/* фоновий колір тексту і кнопок #2196F3 */
