.page {
    background-color: #ffffff;
    color: #757575;
    font-family: 'Roboto';
}

.list {
    list-style: none;
}

/* header */
/* logo */

.logo {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo:hover {
    color: #2196f3;
}

.logo-primary{
    color: #2196f3;
}

/* site-nav */

.site-nav .list {
    font-family: 'Roboto';
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196f3;
}

.site-nav a[href="./index.html"] {
    color: #2196f3;
}

.connection-nav a[href="mailto:info@devstudio.com"] {
    color: #2196f3;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.connection-nav a[href="tel:+380961111111"] {
    color: #757575;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

/* main */
.hero-title {
    color: #212121;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.2;
    text-transform: uppercase;
}



.button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    font-family: inherit;
    background-color: #2196f3;
    color: #ffffff;

}

.button:hover {
    color: #000000;
}

.section-title {
    color: #212121;
}

.section-minititle {
    color: #212121;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.name {
    color: #212121;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 3px;
}

/* footer */

.logo-footer{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6px;
    color: #ffffff;
}

.logo-secondary{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6px;
    color: #2196f3;
}


/* бекграунд #FFFFFF */
/* колір 1 секції з заголовком #2F303A */
/* колір секції наша команда #F5F4FA */
/* основний колір тексту #757575 */
/* колір підзаголовків #212121 */
/* фоновий колір тексту і кнопок #2196F3 */