:root {
    --main-color: #ffffff;
    --secondary-color:#2196f3; 
}

a{
    text-decoration: none;
}

body {
    background-color:var(--main-color);
    color: #757575;
    font-family: 'Roboto', 'sans-serif';
}

.list {
    list-style: none;
}

/* header */
/* logo */

.logo {
    color: #000000;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo:hover {
    color: var(--secondary-color);
}

.logo-primary{
    color:var(--secondary-color);
}

/* site-nav */
.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
}

.site-nav .list {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}



.site-nav .link:hover ,
.site-nav .link:focus {
    color: var(--secondary-color);
}

.connection-nav a {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.connection-nav a:hover,
.connection-nav a:focus {
    color: var(--secondary-color);
}

.connection-nav:hover,
.connection-nav:focus {
    color: var(--secondary-color);
}




/* hero */

.hero{
    background-color: #2F303A;;
}

.hero-title {
    color:var(--main-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.2;
    text-transform: uppercase;
}



/* main */




.button {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    font-family: inherit;
    background-color: var(--secondary-color);
    color: var(--main-color);

}

.button-portfolio {
    font-family: 'Roboto','sans-serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #212121;
    background: #F5F4FA;
}

.button-portfolio:hover,
.button-portfolio:focus
{
    color:var(--main-color);
    background:var(--secondary-color);
}

.button:hover {
    color: #000000;
}

.section-title {
    color: #212121;
}

.section-minititle {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 3px;
}

.section-team {
    background-color: #F5F4FA;;
}

.title-portfolio
{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #212121;
}

.description
{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}

/* footer */
.footer{
    background-color: #2F303A;;
}

.logo-footer{
    font-family: 'Raleway','sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6;
    color:var(--main-color);
}

.logo-secondary{
    font-family: 'Raleway','sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6;
    color: var(--secondary-color);
}

.adress {
    font-family: 'Roboto','sans-serif';
    font-weight: 400;
     font-size: 14px;
    line-height: 1.2;
    color:var(--main-color);
}

.contacts {
    font-family: 'Roboto','sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
}

/* бекграунд #FFFFFF */
/* колір 1 секції з заголовком #2F303A */
/* колір секції наша команда #F5F4FA */
/* основний колір тексту #757575 */
/* колір підзаголовків #212121 */
/* фоновий колір тексту і кнопок #2196F3 */